html {
    font-family : 'Baloo Tammudu 2', cursive, Calibri, Arial, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #ffd59e;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    background-color: #202020;
    color: #ffffff;
    padding-bottom: 1px;
    box-shadow: 0px 1px 15px black;
}

#main-title {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-text {
    font-family: 'Bad Script', cursive;
}

#sign-in a {
    margin-right: 60px;
    color: #6fffdb;
    text-decoration: none;  
}

#sign-in a:hover {
    color: #ffd59e;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #6fffdb;
    text-decoration: none;
}

nav a:hover {
    color: #ffd59e;
}


.drop {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    position: absolute;
    display: none;
}

.drop >li >a {
    text-align: center;
    color:white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: medium;
    background-color: #686868;
}

.drop >li > a:hover {
    background-color: lavender;
    color: #686868;
}

nav >ul >li:hover .drop {
    display: block;
}



#theme {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Bad Script', cursive;
}

main {
    width: 1200px;
    margin: auto;
}

.main {
    display: flex;
    margin-bottom: 40px;
}

article, aside {
    text-align: justify;
}

article {
    margin-right: 40px;
    flex: 3;
}

aside {
    border-left: 1px solid black;
    margin-top: 90px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h1 {
    margin-bottom: 50px;
}

aside a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside a {
    color: #00008b;
    text-decoration: none;
}

aside a p:hover {
    font-weight: bold;
}



footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #202020;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bad Script', cursive;
}

#us {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

#us img {
    margin-right: 20px;
    border-radius: 50%;
}

#lien-github a {
    color: #6fffdb;
    text-decoration: none;
}

#lien-github a:hover {
    color: #ffd59e;
}


#lien-github a i {
    margin-right: 40px;
    margin-left: 10px;
}