.main {
    width: 1200px;
    margin: auto;
}

.main-header {
    background-color: #363636;
    color: #ffffff;
    padding-bottom: 1px;
}

#main-title {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #6fffdb;
    text-decoration: none;
}

nav a:hover {
    color: #ffe96f;
}

#theme {
    display: flex;
    justify-content: center;
}



footer {
    padding-top: 10px;
    background-color: #363636;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#us {
    display: flex;
    flex-direction: row;
}

#lien-github a {
    color: #6fffdb;
    text-decoration: none;
}